// -- colors -- //

$color-primary: #1449a3;
$color-primary-rgb: 1, 69, 92;
$color-primary-contrast: #ffffff;
$color-primary-contrast-rgb: 255, 255, 255;
$color-primary-shade: #01455c;
$color-primary-tint: #28879d;

$color-secondary: #673bb6;
$color-secondary-rgb: 1, 69, 92;
$color-secondary-contrast: #ffffff;
$color-secondary-contrast-rgb: 255, 255, 255;
$color-secondary-shade: #3a1d83;
$color-secondary-tint: #b38ae9;

$color-success: #46b512;
$color-success-rgb: 45, 211, 111;
$color-success-contrast: #ffffff;
$color-success-contrast-rgb: 255, 255, 255;
$color-success-shade: #32820d;
$color-success-tint: #60e920;

$color-warning: #ffc100;
$color-warning-rgb: 250, 207, 13;
$color-warning-contrast: #ffffff;
$color-warning-contrast-rgb: 255, 255, 255;
$color-warning-shade: #d7ad09;
$color-warning-tint: #fbde48;

$color-danger: #eb445a;
$color-danger-rgb: 235, 68, 90;
$color-danger-contrast: #ffffff;
$color-danger-contrast-rgb: 255, 255, 255;
$color-danger-shade: #cf3c4f;
$color-danger-tint: #ed576b;

$color-dark: #080401;
$color-dark-rgb: 8, 4, 1;
$color-dark-contrast: #ffffff;
$color-dark-contrast-rgb: 255, 255, 255;
$color-dark-shade: #060300;
$color-dark-tint: #6a4624;

$color-medium: #92949c;
$color-medium-rgb: 146, 148, 156;
$color-medium-contrast: #ffffff;
$color-medium-contrast-rgb: 255, 255, 255;
$color-medium-shade: #808289;
$color-medium-tint: #9d9fa6;

$color-light: #f4f5f8;
$color-light-rgb: 244, 245, 248;
$color-light-contrast: #000000;
$color-light-contrast-rgb: 0, 0, 0;
$color-light-shade: #d7d8da;
$color-light-tint: #f5f6f9;
